body{padding: 0;margin: 0; background-color: #aaa;font-size: 14px;color: #555; font-family: sans-serif}
header{width: 100%;height: 72px;background-color: #000}
.site-logo{display: inline-block; width: auto; height:72px;  margin:0;}
.site-logo img{width: auto; height:72px;  margin:0;}
.php-infoBtn{font-size: 16px;color: #fff;float: right;line-height: 70px;text-decoration: none}
h1{font-size: 36px;margin: 14px 0 6px 0; color: #000;font-weight: lighter}
h3{color: #333; font-size: 18px; padding-bottom: 18px;font-weight: lighter;margin-bottom: 0;border-bottom: 2px solid #ffde5a;display: block}
div.test-results{
    width:100%;
    height:auto;
}
div.test-run-results{
    margin:10px 0;
    width:calc( 100% - 30px );
    height:500px;
    overflow-x:hidden;
    overflow-y: auto;
    background: #282A36;
    color: #C6E788;
    font-weight:bold;
    border:none;
    padding: 0 15px;
}
div.test-run-results pre{
    margin:0;
    padding: 15px 0;
    width: 100%;
    overflow: hidden;
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -webkit-pre-wrap; /*Chrome & Safari */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */

}
section.container{padding-top: 50px;padding-bottom: 85px;}
.container{margin: 0 auto;padding: 0 15px;}
.container50{display:inline-block; vertical-align: top; width: 48%; margin: 0 20px 0 0;}
.container40{display:inline-block; vertical-align: top; width: 39%; margin: 0 5px }
.container60{display:inline-block; vertical-align: top; width: 59%; margin: 0 5px }
.list-container{width: 100%;margin: 0 2% 0 0; float: left;}
ul, ol{border-top: 1px solid #f0f0f0;padding: 30px 0 0 16px;margin: -1px 0 15px 0;max-width: 80%}
ul li{line-height: 21px;list-style: square;margin-bottom: 7px}
ol li{line-height: 21px;margin-bottom: 7px}
ul, ol > li a{font-size: 14px; line-height: 21px; color: #333;text-decoration: none;}
a.run-server:not([disabled]){cursor:pointer;color:#fff;font-weight: bolder;}
.search-tests input {
    background: #ccc;
}
.status-green{
    color: #000;
    font-weight: bolder;
}
.status-warning{
    color: saddlebrown;
}
.tests-viewport{
    min-height:410px;
    overflow:hidden;
    display:block;
}
.tests-list{
    padding-top: 8px;
    border:none;
}
.tests-list li,
.tests-list li a {
    line-height: 1;
    padding-top: 3px;
    border:none;
    text-decoration: none;
}
form.new-test{text-align:left; margin-bottom:22px;}
form.new-test input[type=text], form.new-test textarea { text-align: left; width: calc( 100% - 20px ); border:none; padding: 10px; background:#282A36;color:#C6E788}
form.new-test input.run-test{
    border: 2px solid #282A36;
    border-radius: 3px;
    padding: 7px 15px 7px 26px;
    cursor: pointer;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle cx='15' cy='15' r='7' /></svg>")  no-repeat;
}
form.new-test input.run-test:disabled{
    border: 2px solid #ccc;
    background: none;
    padding: 7px 15px 7px 15px;
}
form.new-test div.CodeMirror{
    height: 550px;
}
footer{height: 55px;line-height: 55px;background-color: #fff}
footer div{margin: 0 auto;}
@media screen and (min-width: 600px) and (max-width: 960px) {}
@media (max-width: 599px) {
    h1 {font-size: 24px;}
    .list-container{width: 100%;margin: 0}
    section.container{padding-top: 25px}
    .container50{width:calc( 100% - 10px )}
}

/*Swithers*/
.ttype-switcher, .browser-switcher{
    display: inline-block;
    margin: 10px 0 0 10px;
    font-size: 14px;
    vertical-align: top;
    text-align: right;
}

.ttype-switcher{
    margin-top: 4px;
}

.ttype-switcher span{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
    border: 1px solid #ccc;
    margin: -1px;
    font-size: 12px;
    padding: 5px 10px;
    cursor: pointer;
    color: #333;
}

.browser-switcher span{
    background: #f2f6f8; /* Old browsers */
    background: -moz-linear-gradient(top, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
    border: 1px solid #ccc;
    margin: -1px;
    font-size: 12px;
    padding: 5px 10px;
    cursor: pointer;
    color: #333;
}

.browser-switcher span:first-child,
.ttype-switcher span:first-child{
    border-radius: 10px 0 0 10px;
}

.browser-switcher span:last-child,
.ttype-switcher span:last-child{
    border-radius: 0 10px 10px 0;
}

.browser-switcher span.active,
.ttype-switcher span.active{
    -webkit-box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.47);
    box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.47);
}

.load-test, .delete-test{
    cursor: pointer;
}

/*Search bar*/
.search-tests{
    display: inline-block;
    float:right;
    vertical-align: top;
    margin: -5px 0;
    font-size: 12px;
}

.search-tests input{
    margin: 0 -40px 0 0;
    padding: 6px 42px 6px 5px;
    border: 1px solid #ccc;
    font-size: 12px;
    border-radius: 6px;
}

.search-tests a.reset-search{
    width: 40px;
    display: inline-block;
    cursor: pointer;
    visibility: hidden;
}

.pager{
    float: right;
    margin-top: 10px;
}

.pager span{
    padding: 3px 6px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin: 0 2px;
    font-size: 10px;
}

.pager span.active{
    text-decoration: underline;
    cursor: default;
}

.thin-scroll::-webkit-scrollbar {
    width: 5px;
}
.thin-scroll::-webkit-scrollbar-track {
    background: #ddd;
}
.thin-scroll::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 5px;
}

#autosave_flag{
    display: block;
    width: 100px;
    text-align: right;
    float: right;
    margin: -10px 3px;
    color: #ccc;
}

/*Hovering test-results over the code editor in fullscreen mode*/
div.fs-hover{
    position:fixed;
    z-index: 1001;
    top:0;
    right:0;
    width: 40%;
    height: 100%;
    margin: 0;
    border-left: 2px solid #1de023;
    -webkit-box-shadow: -126px 0px 100px 150px rgba(40,42,54,0.8);
    -moz-box-shadow: -126px 0px 100px 150px rgba(40,42,54,0.8);
    box-shadow: -126px 0px 100px 150px rgba(40,42,54,0.8);
}

.extend-server{
    color: green;
    text-decoration: none;
    cursor: pointer;
}

.stop-server{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}